//- 404 error page
extends templates/layout.pug

block title
  title Error 404 — page not found

block content
  div.rtb-page.rtb-error

    //- 404 message
    div.rtb-box.rtb-error-header
      h1 Error 404: page not found
      p The requested page could not be found. The content may have been deleted, moved to another URL, or the request contains a spelling mistake.
       |  Please try again, search for a profile or use one of the following links to access the most popular content on this website:
      ul
        li
          a(
            href!= core.url( '/list/rtb' )
          ) Real-time Billionaires List
        li
          a(
            href!= core.url( '/movers' )
          ) Winners &amp; Losers
        li
          a(
            href!= core.url( '/stats' )
          ) Statistics &amp; Analytics
        li
          a(
            href!= core.url( '/top10' )
          ) Top 10 Richest Billionaires
        li
          a(
            href!= core.url( '/api' )
          ) API Sandbox

    //- some random profiles
    div.rtb-box.rtb-error-profiles
      h3.rtb-box-heading Visit some random profiles
      div.rtb-grid.col3.rtb-profile-grid
        each item in profiles
          a.rtb-grid-item.rtb-grid-item-flex(
            href!= core.url( '/profile/' + item[0] )
          )
              img.rtb-image.rtb-grid-item-img(
                src!= api.getProfileImage( item[0] ),
                loading= 'lazy'
              )/
              div.rtb-grid-item-inner
                span!= item[1].name

    //- image source
    include templates/source.pug