//- api sandbox
extends templates/layout.pug

block title
  title API Sandbox — Real-time billionaires
  meta( name= 'description', content= 'Try our real-time billionaires API in sandbox mode and get to know all its queries.' )/

block styles
  link( rel= 'stylesheet', href= '/css/api.css' )/

block content
  div.rtb-page.rtb-api

    //- header
    div.rtb-box.rtb-api-header
      h1 API Sandbox
      p The website uses data which is available for free and without any limitations under <a href="https://github.com/komed3/rtb-api" target="_blank">@komed3/rtb-api</a>.
       |  If you are interested in getting a first impression on our data or would like to try out this API, you can use this sandbox.
       |  Follow through the descriptions and discover all available queries and various information.
       |  The latest version may not be available. Updates will take place several times a year.

    //- sandbox
    div.rtb-box.rtb-api-sandbox
      h2.rtb-box-heading Sandbox
      p Try an API input and get your answer in the message box below. Tips on how to use this API and any available queries are listed further down this page.
       |  Otherwise, you can check out the GitHub repository <a href="https://github.com/komed3/rtb-api" target="_blank">@komed3/rtb-api</a>.
      form.rtb-api-request(
        method= 'get',
        action= '',
        autocomplete= 'off'
      )
        label.rtb-api-request-label(
          for= 'rtb-api-request'
        ) <code>@komed3/rtb-api@main/api/</code>
        input#rtb-api-request.rtb-api-request-input(
          type= 'text',
          name= 'request',
          placeholder= 'API request …',
          value= api.request,
          required
        )/
        button.rtb-api-request-submit(
          type= 'submit'
        )
          i.icon api
          span Fetch
      if api.request && api.error
        div.rtb-api-error
          i.icon warning
          span Your query is wrong and returned an error.
      textarea#rtb-api-result.rtb-api-result.noscrollbar(
        readonly
      )!= api.result
      h3 Try some requests:
      p Get the real-time list for 10/03/22: <a href="?request=list%2Frtb%2F2022-10-03"><code>list/rtb/2022-10-03</code></a>
      p Get profile information about Bill Gates: <a href="?request=profile%2Fbill-gates%2Finfo"><code>profile/bill-gates/info</code></a>
      p Get winners in percent for 08/17/23: <a href="?request=movers%2Fpct%2Fwinner%2F2023-08-17"><code>movers/pct/winner/2023-08-17</code></a>
      p Get billionaires age pyramide: <a href="?request=stats%2FagePyramid"><code>stats/agePyramid</code></a>

    //- help & usage
    div.rtb-box.rtb-api-help
      h2.rtb-box-heading Help &amp; Usage
      p Requests can be done by using jsDelivr:
      p <code>https://cdn.jsdelivr.net/gh/komed3/rtb-api@main/api/{REQUEST}</code>
      p As <code>{REQUEST}</code> use one of the paths below.
      h3 Global
      dl.rtb-api-list
        dt availableDays
        dd Get available days for real-time billionaires list in CSV format.
        dt latest
        dd Get latest available day for real-time billionaires list.
        dt updated
        dd Get timestamp of the last update.
      h3 Profiles
      dl.rtb-api-list
        dt profile/_index
        dd Get a list of all profiles sorted by their URI in JSON format.
        dt profile/_alias
        dd Get a list of profile aliases in JSON format.
      h3 Single profile
      p The <code>{URI}</code> argument is described in the profiles index and is unique to each profile.
      dl.rtb-api-list
        dt profile/{URI}/info
        dd Get profile info in JSON format, e.g. name, residence education etc.
        dt profile/{URI}/bio
        dd Get biographical and additional facts about a profile in JSON format.
        dt profile/{URI}/assets
        dd Get financial assets of a profile in JSON format.
        dt profile/{URI}/rank
        dd Get ranking information in JSON format.
        dt profile/{URI}/latest
        dd Get the latest rank and net worth in JSON format.
        dt profile/{URI}/history
        dd Get historical rank and net worth information in CSV format.
        dt profile/{URI}/related
        dd Get related profiles in JSON format.
        dt profile/{URI}/annual
        dd Get annual reports for a profile in JSON format.
        dt profile/{URI}/updated
        dd Get the profile info update timestamp.
      h3 Lists
      p The <code>{LIST}</code> argument is described in the lists index. Use <code>{DATE}</code> format <code>YYYY-MM-DD</code> for available days.
      dl.rtb-api-list
        dt list/_index
        dd Get the index for available lists in JSON format.
        dt list/{LIST}/{DATE}
        dd Get the corresponding list by passed list key and date in JSON format.
        dt list/{LIST}/latest
        dd Get the newest available list by passed list key in JSON format.
      h3 Stats
      p The <code>{KEY}</code> argument is a valid country code (ISO) or industry key. Both are described by their corresponding indices.
      dl.rtb-api-list
        dt stats/count
        dd Get daily number of billionaires as CSV list.
        dt stats/total
        dd Get daily total net worth as CSV list.
        dt stats/woman
        dd Get daily number of woman billionaires as CSV list.
        dt stats/country/_index
        dd Get countries index in JSON format.
        dt stats/country/_list
        dd Get a CSV list of countries by number, fortune and richest individual.
        dt stats/country/{KEY}
        dd Get daily number, total net worth and richest individual as CSV list.
        dt stats/industry/_index
        dd Get industries index in JSON format.
        dt stats/industry/_list
        dd Get a CSV list of industries by number, fortune and richest individual.
        dt stats/industry/{KEY}
        dd Get daily number, total net worth and richest individual as CSV list.
        dt stats/agePyramid
        dd Get age pyramide (male/female) in JSON format.
        dt stats/children
        dd Get number of billionaires by their children in JSON format.
        dt stats/maritalStatus
        dd Get number of billionaires by their marital status in JSON format.
        dt stats/selfMade
        dd Get number of billionaires by their self-made score in JSON format.
        dt stats/top10
        dd Get top 10 richest billionaires for each month since January 2020.
      h3 Movers
      p Use <code>{DATE}</code> format <code>YYYY-MM-DD</code> for available days.
      dl.rtb-api-list
        dt movers/pct/winner/{DATE}
        dd Get winner in percent as of date in JSON format.
        dt movers/pct/winner/latest
        dd Get latest winner in percent in JSON format.
        dt movers/pct/winner/_list
        dd Get a daily CSV list top winner in percent.
        dt movers/pct/loser/{DATE}
        dd Get loser in percent as of date in JSON format.
        dt movers/pct/loser/latest
        dd Get latest loser in percent in JSON format.
        dt movers/pct/loser/_list
        dd Get a daily CSV list of top loser in percent.
        dt movers/value/winner/{DATE}
        dd Get winner in net worth as of date in JSON format.
        dt movers/value/winner/latest
        dd Get latest winner in net worth in JSON format.
        dt movers/value/winner/_list
        dd Get a daily CSV list of top winner in net worth.
        dt movers/value/loser/{DATE}
        dd Get loser in net worth as of date in JSON format.
        dt movers/value/loser/latest
        dd Get latest loser in net worth in JSON format.
        dt movers/value/loser/_list
        dd Get a daily CSV list of top loser in net worth.
      h3 Filter
      p The <code>{KEY}</code> argument is a valid country code (ISO) or industry key. Both are described by their corresponding indices.
      dl.rtb-api-list
        dt filter/_index
        dd Get index of all available filter in JSON format.
        dt filter/country/_index
        dd Get countries index in JSON format.
        dt filter/country/{KEY}
        dd Get a list of billionaires by country in JSON format.
        dt filter/industry/_index
        dd Get industries index in JSON format.
        dt filter/industry/{KEY}
        dd Get a list of billionaires by industry in JSON format.
        dt filter/woman
        dd Get a list of woman billionaires in JSON format.
        dt filter/young
        dd Get a list of young billionaires (under 50) in JSON format.
        dt filter/old
        dd Get a list of old billionaires (over 80) in JSON format.
        dt filter/selfMade
        dd Get a list of self-made billionaires in JSON format.
        dt filter/dropped
        dd Get a list of dropped off billionaires in JSON format.
        dt filter/deceased
        dd Get a list of deceased billionaires in JSON format.