//- api sandbox
extends templates/layout.pug

block title
  title API Sandbox — Real-time billionaires
  meta( name= 'description', content= 'Try our real-time billionaires API in sandbox mode and get to know all its queries.' )/

block styles
  link( rel= 'stylesheet', href= '/css/api.css' )/

block content
  div.rtb-page.rtb-api

    //- header
    div.rtb-box.rtb-api-header
      h1 API Sandbox
      p The website uses data which is available for free and without any limitations under <a href="https://github.com/komed3/rtb-api" target="_blank">@komed3/rtb-api</a>.
       |  If you are interested in getting a first impression on our data or would like to try out this API, you can use this sandbox.
       |  Follow through the descriptions and discover all available queries and various information.
       |  The latest version may not be available. Updates will take place several times a year.

    //- sandbox
    div.rtb-box.rtb-api-sandbox
      h2.rtb-box-heading Sandbox
      p Try an API input and get your answer in the message box below. Tips on how to use this API and any available queries are listed further down this page.
       |  Otherwise, you can check out the GitHub repository <a href="https://github.com/komed3/rtb-api" target="_blank">@komed3/rtb-api</a>.
      form.rtb-api-request(
        method= 'get',
        action= '',
        autocomplete= 'off'
      )
        label.rtb-api-request-label(
          for= 'rtb-api-request'
        ) <code>@komed3/rtb-api@main/</code>
        input#rtb-api-request.rtb-api-request-input(
          type= 'text',
          name= 'request',
          placeholder= 'API request …',
          value= api.request,
          required
        )/
        button.rtb-api-request-submit(
          type= 'submit'
        )
          i.icon api
          span Fetch
      if api.request && api.error
        div.rtb-api-error
          i.icon warning
          span Your query is wrong and returned an error.
      textarea#rtb-api-result.rtb-api-result.noscrollbar(
        readonly
      )!= api.result
      h3 Try some requests:
      p Get the real-time list for 10/03/22: <a href="?request=list%2Frtb%2F2022-10-03"><code>list/rtb/2022-10-03</code></a>
      p Get profile information about Bill Gates: <a href="?request=profile%2Fbill-gates%2Finfo"><code>profile/bill-gates/info</code></a>
      p Get winners in percent for 08/17/23: <a href="?request=movers%2Fpct%2Fwinner%2F2023-08-17"><code>movers/pct/winner/2023-08-17</code></a>
      p Get billionaires age pyramide: <a href="?request=stats%2FagePyramid"><code>stats/agePyramid</code></a>

    //- help & usage
    div.rtb-box.rtb-api-help
      h2.rtb-box-heading Help &amp; Usage
      p Requests can be done by using jsDelivr:
      p <code>https://cdn.jsdelivr.net/gh/komed3/rtb-api@main{REQUEST}</code>
      p As <code>{REQUEST}</code> use one of the paths below.
      h3 Global
      dl.rtb-api-list
        dt /api/availableDays
        dd Get available days for real-time billionaires list in CSV format.
        dt /api/latest
        dd Get latest available day for real-time billionaires list.
        dt /api/updated
        dd Get timestamp of the last update.
      h3 Profiles
      h3 Single profile
      h3 Lists
      h3 Stats
      h3 Movers
      h3 Filter