//- filter page
extends templates/layout.pug

block title
  title!= name + ' — Real-time billionaires'

block styles
  link( rel='stylesheet', href= '/css/filter.css' )/

block content
  div.rtb-page.rtb-filter

    //- back to list
    div.rtb-tags.rtb-filter-tags
      a.tag(
        href!= core.url( '/filter' )
      )
        i.icon arrow_back
        span Filter

    //- profile list
    div.rtb-box.rtb-filter-profiles
      h1!= name
      p!= 'Page <b>' + page + '</b> of ' + maxPage + ' / <b>' + count + '</b> profiles found'
      div.rtb-divider
      div.rtb-grid.col3.rtb-profile-grid
        each uri in profiles
          a.rtb-grid-item.rtb-grid-item-flex(
            href!= core.url( '/profile/' + uri )
          )
            img.rtb-image.rtb-grid-item-img(
              src!= api.getProfileImage( uri ),
              loading= 'lazy'
            )/
            div.rtb-grid-item-inner
              span!= api.getProfileName( uri )

    //- pagination
    if maxPage > 1
      div.rtb-box.rtb-filter-pagination
        div.rtb-pagination!= core.pagination( {}, count, page, 36 )