//- home page
extends templates/layout.pug

block styles
  link( rel= 'stylesheet', href= '/css/home.css' )/

block content
  div.rtb-page.rtb-home

    //- header
    div.rtb-box.rtb-home-header
      h1 Tracking real-time billionaires
      include templates/movers.pug
      div.rtb-home-grid
        div.rtb-home-grid-item
          b!= stats.count
          span Billionaires count
        div.rtb-home-grid-item
          b!= formatter.networth( stats.total, 2 )
          span Combined net worth

    //- list
    div.rtb-box.rtb-home-list
      h3.rtb-box-heading The world’s richest
      include templates/table.pug

    //- about
    div.rtb-box.rtb-home-about
      h3.rtb-box-heading About this project
      p The richest 1 percent own nearly two-thirds of the world’s total wealth. And many fortunes continue to grow every day.
       |  This website provides a deep insight into the wealth of the richest. It’s free, open-source and public.
      ul
        li
          a(
            href!= core.url( '/list/rtb' )
          ) Real-time billionaires list
        li
          a(
            href!= core.url( '/movers' )
          ) Winners &amp; Losers
        li
          a(
            href!= core.url( '/stats' )
          ) Statistics &amp; Analytics
        li
          a(
            href!= core.url( '/top10' )
          ) Top 10 richest billionaires