//- list page
extends templates/layout.pug

block styles
  link( rel= 'stylesheet', href= '/css/list.css' )/

block content
  div.rtb-page.rtb-list-page

    //- header
    div.rtb-box.rtb-list-header
      h1 Real-time billionaires

    //- filter
    form.rtb-box.rtb-list-filter(
      action= '',
      method= 'get'
    )
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Filter by
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Sort by
      div.rtb-grid.rtb-list-filter-grid
        div.rtb-tags
          if list.filtered
            a.tag.tag-primary(
                href!= core.url( '/list/' + listURI )
            ) Reset filter
        div.rtb-list-filter-gap
        div.rtb-list-result!= '<b>' + list.count + '</b> entries were found'

    //- list (content)
    div.rtb-box.rtb-list-content
      div.rtb-list
        each item in list.list
          a.rtb-list-item(
            href!= core.url( '/profile/' + item.uri ),
            id!= '_r' + item.rank
          )
            div.rtb-list-cell.rtb-list-image
              img.rtb-image(
                src!= api.getProfileImage( item.uri ),
                loading= lazy
              )/
            div.rtb-list-cell.rtb-list-rank
              b!= '#' + item.rank
            div.rtb-list-cell.rtb-list-name!= item.name
            div.rtb-list-cell.rtb-list-networth
              b!= formatter.networth( item.networth, 1, 1e6, false )
              if item.change
                span!= formatter.change( item.change )
            div.rtb-list-cell.rtb-list-age!= item.age || '—'
            div.rtb-list-cell.rtb-list-country!= api.indexes.country[ item.citizenship ]
            div.rtb-list-cell.rtb-list-source!= item.source.join( ', ' )
        else
          div.rtb-list-item.rtb-list-empty
            div.rtb-list-cell
              b There are no billionaires on this list that match your query.

    //- pagination
    if list.count
      div.rtb-box.rtb-list-pagination
        div.rtb-pagination!= core.pagination( global.request, list.count, list.page, 25 )