//- list page
extends templates/layout.pug

block styles
  link( rel= 'stylesheet', href= '/css/list.css' )/

block content
  div.rtb-page.rtb-list-page

    //- header
    div.rtb-box.rtb-list-header
      h1 Real-time billionaires

    //- filter
    div.rtb-box.rtb-list-filter

    //- list (content)
    div.rtb-box.rtb-list-content
      div.rtb-list
        each item of list.list
          a.rtb-list-item(
            href!= core.url( '/profile/' + item.uri ),
            id!= '_r' + item.rank
          )
            div.rtb-list-cell.rtb-list-image
              img.rtb-image(
                src!= api.getProfileImage( item.uri ),
                loading= lazy
              )/
            div.rtb-list-cell.rtb-list-rank
              b!= '#' + item.rank
            div.rtb-list-cell.rtb-list-name!= item.name
            div.rtb-list-cell.rtb-list-networth
              b!= formatter.networth( item.networth, 1, 1e6, false )
              if item.change
                span!= formatter.change( item.change )
            div.rtb-list-cell.rtb-list-age!= item.age || '—'
            div.rtb-list-cell.rtb-list-country!= api.indexes.country[ item.citizenship ]
            div.rtb-list-cell.rtb-list-source!= item.source.join( ', ' )

    //- pagination
    div.rtb-box.rtb-list-pagination
      div.rtb-pagination!= core.pagination( list.count, list.page, 25 )