//- list page
extends templates/layout.pug

block title
  title!= listName
  meta( name= 'description', content= 'Daily updated, interactive and searchable list of the world’s richest billionaires.' )/

block scripts
  script( src= '/js/list.min.js' )

block styles
  link( rel= 'stylesheet', href= '/css/list.css' )/

block content
  div.rtb-page.rtb-list-page

    //- header
    div.rtb-box.rtb-list-header
      h1!= listName
      include templates/movers.pug

    //- filter
    form.rtb-box.rtb-list-filter(
      action= '',
      method= 'get'
    )
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Filter by
        div.rtb-tags
          input(
            type= 'checkbox',
            name= 'woman',
            id= 'filter_by__woman',
            checked= global.request.woman
          )/
          label.tag( for= 'filter_by__woman' ) Woman
          input(
            type= 'checkbox',
            name= 'flag',
            value= 'new',
            id= 'filter_by__new',
            checked= ( global.request.flag == 'new' )
          )/
          label.tag( for= 'filter_by__new' ) New to list
          select( name= 'country' )
            option( value= '' ) Countries
            option( readonly, disabled ) ----------
            each v, k in api.indexes.country
              option(
                value= k,
                selected= ( global.request.country || '' ) == k
              )!= v
          select( name= 'industry' )
            option( value= '' ) Industries
            option( readonly, disabled ) ----------
            each v, k in api.indexes.industry
              option(
                value= k,
                selected= ( global.request.industry || '' ) == k
              )!= v
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Sort by
        div.rtb-tags
          select( name= 'sort' )
            each v, k in { rank: 'Rank', diff: 'Difference', name: 'Name', age: 'Age' }
              option(
                  value= k,
                  selected= ( global.request.sort || 'rank' ) == k
              )!= v
          input(
            type= 'radio',
            name= 'dir',
            value= 'asc'
            id= 'sort_dir__asc',
            checked= ( ( global.request.dir || 'asc' ) == 'asc' )
          )/
          label.tag( for= 'sort_dir__asc' )
            i.icon arrow_upward
            span Ascending
          input(
            type= 'radio',
            name= 'dir',
            value= 'desc'
            id= 'sort_dir__desc',
            checked= ( ( global.request.dir || null ) == 'desc' )
          )/
          label.tag( for= 'sort_dir__desc' )
            i.icon arrow_downward
            span Descending
        div.rtb-list-filter-gap
        span.rtb-list-filter-label Data as of
        div.rtb-tags
          input(
            type= 'date',
            name= 'date',
            min= api.days[0],
            max= api.latest,
            value= list.date
          )/
      div.rtb-grid.rtb-list-filter-grid
        div.rtb-tags
          if list.filtered
            a.tag.tag-primary(
                href!= core.url( '/list/' + listURI )
            ) Reset filter
        div.rtb-list-filter-gap
        div.rtb-list-result
          span!= 'Page <b>' + list.page + '</b> of ' + Math.ceil( list.count / 25 )
          span  / 
          span!= '<b>' + list.count + '</b> entries were found'

    //- list (content)
    div.rtb-box.rtb-list-content
      include templates/table.pug

    //- pagination
    if list.count > 25
      div.rtb-box.rtb-list-pagination
        div.rtb-pagination!= core.pagination( global.request, list.count, list.page, list.limit )

    //- image source
    include templates/source.pug