//- list page
extends templates/layout.pug

block styles
  link( rel= 'stylesheet', href= '/css/list.css' )/

block content
  div.rtb-page.rtb-list-page

    //- header
    div.rtb-box.rtb-list-header
      h1 Real-time billionaires

    //- filter
    form.rtb-box.rtb-list-filter(
      action= '',
      method= 'get'
    )
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Filter by
        div.rtb-tags
          input(
            type= 'checkbox',
            name= 'woman',
            id= 'filter_by__woman',
            checked= global.request.woman
          )/
          label.tag( for= 'filter_by__woman' ) Woman
          input(
            type= 'checkbox',
            name= 'new',
            id= 'filter_by__new',
            checked= global.request.new
          )/
          label.tag( for= 'filter_by__new' ) New to list
          input(
            type= 'checkbox',
            name= 'returnee',
            id= 'filter_by__returnee',
            checked= global.request.returnee
          )/
          label.tag( for= 'filter_by__returnee' ) Returnee
          select(
            name= 'country'
          )
            option(
              value= ''
            ) Countries
            option( readonly, disabled ) ----------
            each v, k in api.indexes.country
              option(
                value= k,
                selected= ( global.request.country || '' ) == k
              )!= v
          select(
            name= 'industry'
          )
            option(
              value= ''
            ) Industries
            option( readonly, disabled ) ----------
            each v, k in api.indexes.industry
              option(
                value= k,
                selected= ( global.request.industry || '' ) == k
              )!= v
      div.rtb-grid.rtb-list-filter-grid
        span.rtb-list-filter-label Sort by
        select(
          name= 'sort'
        )
          each v, k in { rank: 'Rank', name: 'Name', age: 'Age' }
            option(
                value= k,
                selected= ( global.request.sort || 'rank' ) == k
            )!= v
        div.rtb-tags
          input(
            type= 'radio',
            name= 'dir',
            value= 'asc'
            id= 'sort_dir__asc',
            checked= ( global.request.dir || 'asc' == 'asc' )
          )/
          label.tag( for= 'sort_dir__asc' ) Ascending
          input(
            type= 'radio',
            name= 'dir',
            value= 'desc'
            id= 'sort_dir__desc',
            checked= ( global.request.dir || 'asc' == 'desc' )
          )/
          label.tag( for= 'sort_dir__desc' ) Descending
      div.rtb-grid.rtb-list-filter-grid
        div.rtb-tags
          if list.filtered
            a.tag.tag-primary(
                href!= core.url( '/list/' + listURI )
            ) Reset filter
        div.rtb-list-filter-gap
        div.rtb-list-result!= '<b>' + list.count + '</b> entries were found'

    //- list (content)
    div.rtb-box.rtb-list-content
      div.rtb-list
        each item in list.list
          a.rtb-list-item(
            href!= core.url( '/profile/' + item.uri ),
            id!= '_r' + item.rank
          )
            div.rtb-list-cell.rtb-list-image
              img.rtb-image(
                src!= api.getProfileImage( item.uri ),
                loading= lazy
              )/
            div.rtb-list-cell.rtb-list-rank
              b!= '#' + item.rank
            div.rtb-list-cell.rtb-list-name!= item.name
            div.rtb-list-cell.rtb-list-networth
              b!= formatter.networth( item.networth, 1, 1e6, false )
              if item.change
                span!= formatter.change( item.change )
            div.rtb-list-cell.rtb-list-age!= item.age || '—'
            div.rtb-list-cell.rtb-list-country!= api.indexes.country[ item.citizenship ]
            div.rtb-list-cell.rtb-list-source!= item.source.join( ', ' )
        else
          div.rtb-list-item.rtb-list-empty
            div.rtb-list-cell
              b There are no billionaires on this list that match your query.

    //- pagination
    if list.count
      div.rtb-box.rtb-list-pagination
        div.rtb-pagination!= core.pagination( global.request, list.count, list.page, 25 )