//- profile page
extends templates/layout.pug

block title
  title!= profile.info.name + ' — Profile'

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block styles
  link( rel= 'stylesheet', href= '/css/profile.css' )/

block content
  div.rtb-page.rtb-profile

    //- tags + navigation
    div.rtb-profile-tags

      //- tags
      div.rtb-tags
        if profile.latest && profile.latest.rank && profile.latest.date == api.latest
          a.tag.tag-primary(
            href!= core.url( '/list/rtb' )
          )
            span!= '#' + profile.latest.rank
        if profile.info.industry
          each industry in profile.info.industry
            a.tag.tag-primary(
              href!= core.url( '/industry/' + industry )
            )
              i.icon factory
              span!= api.indexes.industry[ industry ] || 'Unknown'
        if profile.info.citizenship
          a.tag.tag-secondary(
            href!= core.url( '/country/' + profile.info.citizenship )
          )
            i.icon language
            span!= api.indexes.country[ profile.info.citizenship ] 

      //- navigation
      if profile.rank && profile.rank.rtb
        div.rtb-tags.rtb-profile-nav
          -var prev = api.resolveURI( profile.rank.rtb.prev )
          -var next = api.resolveURI( profile.rank.rtb.next )
          if prev
            a.tag(
              href= core.url( 'profile/' + prev )
            )
              i.icon arrow_back
              span!= api.index[ prev ].name
          if next
            a.tag(
              href= core.url( 'profile/' + next )
            )
              span!= api.index[ next ].name
              i.icon arrow_forward

    //- header
    div.rtb-box.rtb-profile-header
      img.rtb-image.rtb-profile-header-image(
        src!= profile.info.image || ( '/res/blank-' + ( profile.info.gender || 'm' ) + '.jpg' ),
        loading= 'lazy'
      )/
      div.rtb-profile-header-info
        h1.rtb-profile-header-name!= profile.info.name
        if profile.info.deceased
          div.rtb-profile-header-label Deceased
        else if profile.info.organization
          div.rtb-profile-header-label!= [ profile.info.organization.title, profile.info.organization.name ].filter( a => a ).join( ', ' )
        div.rtb-profile-networth
          div.rtb-profile-networth-value!= formatter.networth( profile.latest.networth, 2 )
          if profile.latest.change
            div.rtb-profile-networth-change!= formatter.change( profile.latest.change )
          div.rtb-profile-networth-date!= 'as of ' + formatter.date( profile.latest.date )

    //- bio
    if profile.bio && profile.bio.bio.length
      div.rtb-box.rtb-profile-bio
        h3.rtb-box-heading!= 'About ' + profile.info.name
        each statement in profile.bio.bio
          p!= statement

    //- personal stats
    div.rtb-box.rtb-profile-info
      h3.rtb-box-heading Personal stats
      div.rtb-grid.col3.rtb-profile-grid
        if profile.info.citizenship
          div.rtb-grid-item
            h4 Citizenship
            span!= isoc.getName( profile.info.citizenship, 'en' )
        if profile.info.source
          div.rtb-grid-item
            h4 Source of wealth
            span!= profile.info.source.join( ', ' )
        if profile.info.residence
          - 
            var residence = [
              profile.info.residence.city,
              profile.info.residence.state,
              isoc.getName( profile.info.residence.country, 'en' )
            ]
          div.rtb-grid-item
            h4 Residence
            span!= residence.filter( a => a ).slice( 0, 2 ).join( ', ' )
        if profile.info.maritalStatus
          div.rtb-grid-item
            h4 Marital status
            span!= profile.info.maritalStatus
        if profile.info.birthDate
          div.rtb-grid-item
            h4 Birth date
            span!= formatter.date( profile.info.birthDate )
        if profile.info.children
          div.rtb-grid-item
            h4 Number of children
            span!= profile.info.children
        if profile.info.education && profile.info.education.length
          div.rtb-grid-item
            h4 Education
            span!= profile.info.education.map( a => Object.values( a ).reverse().join( ', ' ) ).join( '; ' )
        if profile.info.selfMade.type
          div.rtb-grid-item
            h4 Self-made
            span!= profile.info.selfMade.type

    //- related people
    if profile.related && profile.related.length
      div.rtb-box.rtb-related
        h3.rtb-box-heading Related people
        div.rtb-grid.col3.rtb-profile-grid
          each related in profile.related
            a.rtb-grid-item.rtb-grid-item-flex(
              href!= core.url( '/profile/' + related.uri )
            )
              img.rtb-image.rtb-grid-item-img(
                src!= api.getProfileImage( related.uri ),
                loading= 'lazy'
              )/
              div.rtb-grid-item-inner
                span!= related.name
                h4!= related.type || 'related profile'

    //- net worth history
    div.rtb-box.rtb-profile-history
      h3.rtb-box-heading Net worth over time
      div.rtb-chart.rtb-big-chart(
        chart-type= 'networth',
        chart-data!= core.chartData( charts.networth )
      )
        canvas.rtb-chart-inner

    //- ranking history
    div.rtb-box.rtb-ranking-history
      h3.rtb-box-heading Real-time ranking
      div.rtb-chart.rtb-small-chart(
        chart-type= 'rank',
        chart-data!= core.chartData( charts.rank )
      )
        canvas.rtb-chart-inner

    //- financial assets
    if profile.assets && profile.assets.length
      div.rtb-box.rtb-profile-assets
        h3.rtb-box-heading Financial assets
        div.rtb-grid.col3.rtb-profile-grid
          each asset in profile.assets
            div.rtb-grid-item
              h4!= asset.exchange + ' | ' + asset.ticker
              span!= asset.companyName
              if asset.numberOfShares && asset.currentPrice
                b!= formatter.networth( asset.numberOfShares * asset.currentPrice * ( 1 / asset.exchangeRate ), 1, 1 )