//- profile page
extends templates/layout.pug

block title
  title!= profile.info.name + ' — Profile'

block styles
  link( rel= 'stylesheet', href= '/css/profile.css' )/

block content
  div.rtb-page.rtb-profile

    //- profile header
    div.rtb-box.rtb-profile-header
      img.rtb-image.rtb-profile-header-image(
        src!= profile.info.image || 'res/empty-profile.jpg',
        loading= 'lazy'
      )
      div.rtb-profile-header-info
        h1.rtb-profile-header-name!= profile.info.name
        if profile.latest && profile.latest.rank && profile.latest.date == global.today
          div.rtb-profile-header-rank
            b.rank!= '#' + profile.latest.rank
            a.list(
              href!= core.url( '/list/rtb' )
            ) Real-time billionaires
          div.rtb-profile-networth
            div.rtb-profile-networth-value!= formatter.networth( profile.latest.networth, 2 )
            if profile.latest.change
              div.rtb-profile-networth-change!= formatter.change( profile.latest.change )
            div.rtb-profile-networth-date!= 'as of ' + formatter.date( profile.latest.date )

    //- profile bio
    if profile.bio.bio.length
      div.rtb-box.rtb-profile-bio
        h3.rtb-profile-heading!= 'About ' + profile.info.name
        each statement of profile.bio.bio
          p!= statement