//- profile page
extends templates/layout.pug

block title
  title!= profile.info.name + ' — Profile'

block styles
  link( rel= 'stylesheet', href= '/css/profile.css' )/

block content
  div.rtb-page.rtb-profile

    //- navigation
    if profile.rank && profile.rank.rtb
      div.rtb-nav.rtb-profile-nav
        -var prev = api.resolveURI( profile.rank.rtb.prev )
        -var next = api.resolveURI( profile.rank.rtb.next )
        if prev
          a.rtb-nav-link.rtb-nav-prev(
            href= core.url( 'profile/' + prev )
          )
            i.icon arrow_back
            span!= api.index[ prev ].name
        if next
          a.rtb-nav-link.rtb-nav-next(
            href= core.url( 'profile/' + next )
          )
            span!= api.index[ next ].name
            i.icon arrow_forward

    //- header
    div.rtb-box.rtb-profile-header
      img.rtb-image.rtb-profile-header-image(
        src!= profile.info.image || ( '/res/blank-' + ( profile.info.gender || 'm' ) + '.jpg' ),
        loading= 'lazy'
      )
      div.rtb-profile-header-info
        h1.rtb-profile-header-name
          if profile.latest && profile.latest.rank && profile.latest.date == global.today
            b!= '#' + profile.latest.rank
          span!= profile.info.name
        if profile.info.organization
          div.rtb-profile-header-organization!= [ profile.info.organization.title, profile.info.organization.name ].join( ', ' )
        div.rtb-profile-networth
          div.rtb-profile-networth-value!= formatter.networth( profile.latest.networth, 2 )
          if profile.latest.change
            div.rtb-profile-networth-change!= formatter.change( profile.latest.change )
          div.rtb-profile-networth-date!= 'as of ' + formatter.date( profile.latest.date )

    //- bio
    if profile.bio && profile.bio.bio
      div.rtb-box.rtb-profile-bio
        h3.rtb-profile-heading!= 'About ' + profile.info.name
        each statement of profile.bio.bio
          p!= statement

    //- personal stats
    div.rtb-box.rtb-profile-info
      h3.rtb-profile-heading Personal stats
      div.rtb-grid.col3.rtb-profile-info-grid
        if profile.info.citizenship
          div.rtb-grid-item
            h4 Citizenship
            span
              a(
                href!= core.url( '/country/' + profile.info.citizenship )
              )!= isoc.getName( profile.info.citizenship, 'en' )
        if profile.info.residence
          div.rtb-grid-item
            h4 Residence
            span
        if profile.info.maritalStatus
          div.rtb-grid-item
            h4 Marital status
            span!= profile.info.maritalStatus
        if profile.info.children
          div.rtb-grid-item
            h4 Number of children
            span!= profile.info.children
        if profile.info.birthDate
          div.rtb-grid-item
            h4 Birth date
            span!= formatter.date( profile.info.birthDate )