//- (general) stats page
extends templates/layout.pug

block title
  title!= name.plural + ' — Real-time billionaires'

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block styles
  link( rel= 'stylesheet', href= '/css/stats.css' )/

block content
  div.rtb-page.rtb-box.rtb-stats.rtb-stats-list
    h1!= name.plural
    table.rtb-stats-list-table
      thead
        tr.rtb-stats-list-table-row
          th!= name.singular
          th.right Count
          th.right Net worth
          th Richest
      tbody
        each item in list
          tr.rtb-stats-list-table-row
            td.rtb-stats-list-table-label
              a(
                href= core.url( '/' + base + '/' + item[0] )
              )!= api.indexes[ base ][ item[0] ]
            td.rtb-stats-list-table-count.right!= item[1]
            td.rtb-stats-list-table-networth.right!= formatter.networth( item[2], 2 )
            td.rtb-stats-list-table-profile
              div
                b!= '#' + item[4]
                a(
                  href!= core.url( '/profile/' + item[3] )
                )!= api.getProfileName( item[3] )
                span!= '(' + formatter.networth( item[5] ) + ')'