//- (general) stats page
extends templates/layout.pug

block title
  title Statistics — Real-time billionaires

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block styles
  link( rel='stylesheet', href= '/css/stats.css' )/

block content
  div.rtb-page.rtb-stats

    //- header
    div.rtb-box.rtb-stats-header
      h1 Statistics
      div.rtb-stats-grid
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Total count of billionaires
            span!= 'as of ' + formatter.date( stats.count[0] )
          div.rtb-stats-grid-value
            b!= stats.count[1]
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Combined net worth
            span!= 'as of ' + formatter.date( stats.total[0] )
          div.rtb-stats-grid-value
            b!= formatter.networth( stats.total[1], 2 )
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Number of womans
            span!= 'as of ' + formatter.date( stats.woman[0] )
          div.rtb-stats-grid-value
            b!= stats.woman[1]

    //- billionaire count
    div.rtb-box.rtb-stats-count
      h3.rtb-box-heading Number of billionaires
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'line',
        chart-data!= core.chartData( charts.count )
      )
        canvas.rtb-chart-inner

    //- total net worth
    div.rtb-box.rtb-stats-total
      h3.rtb-box-heading Total net worth
      div.rtb-chart.rtb-big-chart(
        chart-type= 'networth',
        chart-data!= core.chartData( charts.total )
      )
        canvas.rtb-chart-inner

    //- analytics (scatter)
    div.rtb-box.rtb-stats-scatter
      h3.rtb-box-heading Profile analytics
      div.rtb-chart.rtb-big-chart(
        chart-type= 'scatter',
        chart-data!= core.chartData( charts.scatter )
      )
        canvas.rtb-chart-inner

    //- self-made score
    div.rtb-box.rtb-stats-selfmade
      h3.rtb-box-heading Self-made score
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'column',
        chart-data!= core.chartData( charts.selfMade )
      )
        canvas.rtb-chart-inner

    //- age pyramid
    div.rtb-box.rtb-stats-age
      h3.rtb-box-heading Age pyramid
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'pyramid',
        chart-data!= core.chartData( charts.agePyramid )
      )
        canvas.rtb-chart-inner

    div.rtb-box-cols
    
      //- marital status
      div.rtb-box.rtb-stats-marital
        h3.rtb-box-heading Marital status
        div.rtb-chart.rtb-medium-chart(
          chart-type= 'pie',
          chart-data!= core.chartData( charts.maritalStatus )
        )
          canvas.rtb-chart-inner

      //- children
      div.rtb-box.rtb-stats-children
        h3.rtb-box-heading Number of children
        div.rtb-chart.rtb-medium-chart(
          chart-type= 'pie',
          chart-data!= core.chartData( charts.children )
        )
          canvas.rtb-chart-inner

    //- woman count
    div.rtb-box.rtb-stats-count
      h3.rtb-box-heading Number of womans
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'line',
        chart-data!= core.chartData( charts.woman )
      )
        canvas.rtb-chart-inner