//- (general) stats page
extends templates/layout.pug

block title
  title!= single + ' — Real-time billionaires'

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block styles
  link( rel='stylesheet', href= '/css/stats.css' )/

block content
  div.rtb-page.rtb-stats.rtb-stats-single

    //- back to list
    div.rtb-tags.rtb-stats-tags
      a.tag(
        href!= core.url( '/' + base )
      )
        i.icon arrow_back
        span!= name
      div.seperator
      a.tag( href!= core.url( '/list/rtb?' + base + '=' + singleKey ) )
        i.icon tag
        span Real-time list
      a.tag( href!= core.url( '/filter/' + base + '/' + singleKey ) )
        i.icon people
        span All profiles

    //- header
    div.rtb-box.rtb-stats-header
      h1!= single
      div.rtb-stats-grid
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Richest billionaire
            span!= 'as of ' + formatter.date( latest[0] )
          div.rtb-stats-grid-value
            b
              a(
                href= core.url( '/profile/' + latest[4] )
              )!= api.getProfileName( latest[4] )
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Total count of billionaires
            span!= 'as of ' + formatter.date( latest[0] )
          div.rtb-stats-grid-value
            b!= latest[1]
        div.rtb-stats-grid-line
          div.rtb-stats-grid-label
            h4 Combined net worth
            span!= 'as of ' + formatter.date( latest[0] )
          div.rtb-stats-grid-value
            b!= formatter.networth( latest[2], 2 )

    //- changes (percentage)
    div.rtb-box.rtb-stats-percent
      h3.rtb-box-heading Changes by percentage
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'percent',
        chart-normalize= 1,
        chart-data!= core.chartData( charts.change )
      )
        canvas.rtb-chart-inner

    //- richest billionaires
    if list && list.count > 1
      div.rtb-box.rtb-stats-profiles
        h3.rtb-box-heading!= 'Richest billionaires from ' + single
        div.rtb-list
          each item in list.list
            a.rtb-list-item(
              href!= core.url( '/profile/' + item.uri ),
              id!= '_r' + item.rank
            )
              div.rtb-list-cell.rtb-list-image
                img.rtb-image(
                  src!= api.getProfileImage( item.uri ),
                  loading= lazy
                )/
              div.rtb-list-cell.rtb-list-rank
                b!= '#' + item.rank
              div.rtb-list-cell.rtb-list-diff
                img.rtb-list-flag(
                  src!= '/res/flag-' + ( item.flag || 'unknown' ) + '.png'
                )/
              div.rtb-list-cell.rtb-list-name!= item.name
              div.rtb-list-cell.rtb-list-networth
                b!= formatter.networth( item.networth, 1, 1e6, false )
                if item.change
                  span!= formatter.change( item.change )
              div.rtb-list-cell.rtb-list-age!= item.age || '—'
              div.rtb-list-cell.rtb-list-country!= api.indexes.country[ item.citizenship ]
              div.rtb-list-cell.rtb-list-source!= item.source.join( ', ' )

    //- total net worth
    div.rtb-box.rtb-stats-total
      h3.rtb-box-heading Total net worth
      div.rtb-chart.rtb-big-chart(
        chart-type= 'networth',
        chart-data!= core.chartData( charts.networth )
      )
        canvas.rtb-chart-inner

    //- billionaire count
    div.rtb-box.rtb-stats-count
      h3.rtb-box-heading Number of billionaires
      div.rtb-chart.rtb-medium-chart(
        chart-type= 'line',
        chart-data!= core.chartData( charts.count )
      )
        canvas.rtb-chart-inner