//- templates/layout.pug (default layout)
doctype html
html( lang= 'en' )

  //- html header
  head
    meta( charset= 'UTF-8' )/
    meta( name= 'viewport', content= 'width=device-width, initial-scale=1.0' )/
    meta( name= 'msapplication-TileColor', content= '#ffffff' )/
    meta( name= 'theme-color', content= '#e30b5c' )/
    link( rel= 'icon', sizes= '16x16 32x32 48x48 64x64', href= '/res/favicon.ico' )/
    block title
      title Tracking real-time billionaires
    block scripts
    block styles
      link( rel= 'stylesheet', href= '/css/page.css' )/

  //- html content
  body

    //- header
    header#header.rtb-header( role= 'banner' )
      a.rtb-header-logo( href!= '/' )
        img( src= '/res/logo.png' )/
      div.rtb-header-links
        a( href= '/list/rtb' ) Real-time list
        a( href= '/stats' ) Statistics
        a( href= '/country' ) Countries
        a( href= '/industry' ) Industries
      form.rtb-header-search(
        action= '/search/',
        method= 'get'
      )
        input(
          type= 'text',
          name= 'q',
          placeholder= 'Search …'
        )/
        button( type= 'submit' )
          i.icon search

    //- main content
    main#main.rtb-wrapper( role= 'main' )
      block content

  //- footer
  footer#footer.rtb-footer
    div.rtb-footer-inner
      div.rtb-footer-column
        a.rtb-footer-logo( href!= '/' )
          img( src= '/res/logo.png' )/
          b Real-time billionaires
      div.rtb-footer-column
        h3 Quick links
        div.rtb-footer-links
          div
            a( href= '/list/rtb' ) Real-time list
          div
            a( href= '/stats' ) Statistics
          div
            a( href= '/stats/networth' ) Net worth
          div
            a( href= '/country' ) Countries
          div
            a( href= '/industry' ) Industries
      div.rtb-footer-credits
        span!= 'Copyright &copy; ' + ( new Date() ).getFullYear() + ' by komed3'
        span.divider |
        a( href= 'https://github.com/komed3/rtb', target= '_blank' ) GitHub
        a( href= '/privacy' ) Privacy Statement
        a( href= 'https://github.com/komed3/rtb-api', target= '_blank' ) Data &amp; API