//- templates/movers.pug
div( class!= 'rtb-movers ' + ( moversDirection || 'column' ) )
  -var moversFormat = moversFormat || 'networth'
  -var moversDigits = parseInt( moversDigits || 0 )

  //- winner / loser loop
  each type in [ 'winner', 'loser' ]

    //- fetch min / max values
    -var lastItem = movers[ type ].length - 1;
    -
     var maxValue = movers[ type ].length && Array.isArray( movers[ type ][0] )
        ? parseFloat( movers[ type ][0][1] )
        : 0
    -
     var minValue = movers[ type ].length && Array.isArray( movers[ type ][ lastItem ] )
        ? parseFloat( movers[ type ][ lastItem ][1] )
        : 1

    //- reverse losers
    if type == 'loser'
      -movers.loser = movers.loser.reverse()

    //- loop through movers
    each item in movers[ type ]

      //- check if item exists
      if Array.isArray( item ) && item.length == 2

        //- add movers item
        a(
          class!= 'rtb-movers-item ' + type,
          href!= core.url( '/profile/' + item[0] )
        )
          div.rtb-movers-column(
            style!= '--h: ' + core.barHeight(
              item[1],
              maxValue,
              minValue
            ) + '%;'
          )
          div.rtb-movers-image
            img.rtb-image(
              src!= api.getProfileImage( item[0] ),
              loading= 'lazy'
            )/
          div.rtb-movers-inner
            b!= formatter[ moversFormat ]( Math.abs( item[1] ), moversDigits )
            span!= api.getProfileName( item[0] )

      //- add empty movers item
      else
        div( class!= 'rtb-movers-item ' + type + ' empty' )
          div.rtb-movers-column( style!= '--h: 0%;' )
          div.rtb-movers-image
          div.rtb-movers-inner