//- template/wl.pug
div.rtb-wl

  //- winner
  -var maxValue = movers.winner.length ? movers.winner[0][1] : 0
  -var minValue = movers.winner.length ? movers.winner[ movers.winner.length - 1 ][1] : 1
  each i in [ 0, 1, 2, 3, 4 ]
    if movers.winner[ i ]
      a.rtb-wl-item.winner(
        href!= core.url( '/profile/' + movers.winner[ i ][0] )
      )
        div.rtb-wl-column( style!= '--h: ' + core.barHeight(
          movers.winner[ i ][1],
          maxValue,
          minValue
        ) + '%;' )
        div.rtb-wl-image
          img.rtb-image(
            src!= api.getProfileImage( movers.winner[ i ][0] ),
            loading= 'lazy'
          )/
        div.rtb-wl-inner
          b!= formatter.networth( movers.winner[ i ][1], 0 )
          span!= api.getProfileName( movers.winner[ i ][0], true )
    else
      div.rtb-wl-item.empty.winner
        div.rtb-wl-column( style!= '--h: 0%;' )
        div.rtb-wl-image
        div.rtb-wl-inner

  //- loser
  -var maxValue = movers.loser.length ? movers.loser[0][1] : 0
  -var minValue = movers.loser.length ? movers.loser[ movers.winner.length - 1 ][1] : -1
  each i in [ 4, 3, 2, 1, 0 ]
    if movers.loser[ i ]
      a.rtb-wl-item.loser(
        href!= core.url( '/profile/' + movers.loser[ i ][0] )
      )
        div.rtb-wl-column( style!= '--h: ' + core.barHeight(
          movers.loser[ i ][1],
          maxValue,
          minValue
        ) + '%;' )
        div.rtb-wl-image
          img.rtb-image(
            src!= api.getProfileImage( movers.loser[ i ][0] ),
            loading= 'lazy'
          )/
        div.rtb-wl-inner
          b!= formatter.networth( movers.loser[ i ][1], 0 )
          span!= api.getProfileName( movers.loser[ i ][0], true )
    else
      div.rtb-wl-item.empty.loser
        div.rtb-wl-column( style!= '--h: 0%;' )
        div.rtb-wl-image
        div.rtb-wl-inner